<div class="animal-card">
    <div class="animal-image">
        <a href="animal">
            <img src="{{data.imageUrl}}" alt="imagem do pet">
        </a>
    </div>
    <div class="animal-mini-description">
        <div class="animal-mini-description-infos">
            <a href="animal">
                <h2>{{data.nome}}</h2>
                <span>{{data.localizacao[1]}}, {{data.localizacao[0]}}</span>
            </a>
        </div>
        <a href="animal">
            <img class="ico-favorite" src="../../../assets/images/favorite.png" alt="botão favorito">
        </a>
    </div>
    <div class="quero-adotar">
        <button class="btn">Quero adotar</button>
    </div>
</div>