<div class="animal-card">
    <div class="animal-image">
        <a href="#">
            <img src="../../../assets/images/animal1.jpeg" alt="imagem do pet">
        </a>
    </div>
    <div class="animal-mini-description">
        <div class="animal-mini-description-infos">
            <a href="#">
                <h2>Doggo</h2>
                <span>São Paulo, SP</span>
            </a>
        </div>
        <a href="#">
            <img class="ico-favorite" src="../../../assets/images/favorite.png" alt="botão favorito">
        </a>
    </div>
    <div class="quero-adotar">
        <button class="btn">Quero adotar</button>
    </div>
</div>