<form method="post">
    <h1>Formulário para doação</h1>

    <div>
        <h2>Informações do pet</h2>
        <div class="blocos">
            <div class="bloco">
                <label>Fotos</label>
                <img src="#" alt="">
                <input type="file" name="" id="">
            </div>
            <div class="bloco">
                <label>Nome</label>
                <input type="text" placeholder="Nome do seu pet">
            </div>
            <div class="info-animal bloco">
                <div>
                    <label>Idade</label>
                    <input class="short" type="number" name="" id="" placeholder="Anos" min="0" max="120">
                </div>
                <div>
                    <label>Peso</label>
                    <input class="short" type="number" name="" id="" placeholder="kg" min="0" max="999">
                </div>
            </div>
            <div class="info-especie bloco">
                <div>
                    <label>Espécie</label>
                    <select name="" id="">
                        <option value="" disabled selected>Selecione</option>
                        <option value="">Cachorro</option>
                        <option value="">Coelho</option>
                        <option value="">Gato</option>
                        <option value="">Rato</option>
                    </select>
                </div>
                <div>
                    <label>Porte</label>
                    <select name="" id="">
                        <option value="" disabled selected>Selecione</option>
                        <option value="">Pequeno</option>
                        <option value="">Médio</option>
                        <option value="">Grande</option>
                    </select>
                </div>
            </div>

            <div class="bloco">
                <label>Descrição</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Escreva um pouco sobre seu pet."></textarea>
            </div>
            <div class="bloco">
                <label>Tags</label>
                <input type="text" name="" id="" placeholder="Exemplo: Dócil, Calmo, Agitado etc...">
            </div>
        </div>
    </div>
    <div>
        <h2>Informações de contato</h2>
        <div class="blocos">
            <div class="info-location">
                <div class="bloco">
                    <label>Estado</label>
                    <select name="" id="">
                        <option value="" disabled selected>Selecione</option>
                        <option value="AC">AC - Acre </option>
                        <option value="AL">AL - Alagoas </option>
                        <option value="AP">AP - Amapá </option>
                        <option value="AM">AM - Amazonas </option>
                        <option value="BA">BA - Bahia </option>
                        <option value="CE">CE - Ceará </option>
                        <option value="DF">DF - Distrito Federal </option>
                        <option value="ES">ES - Espírito Santo </option>
                        <option value="GO">GO - Goiás </option>
                        <option value="MA">MA - Maranhão </option>
                        <option value="MT">MT - Mato Grosso </option>
                        <option value="MS">MS - Mato Grosso do Sul </option>
                        <option value="MG">MG - Minas Gerais </option>
                        <option value="PA">PA - Pará </option>
                        <option value="PB">PB - Paraíba </option>
                        <option value="PR">PR - Paraná </option>
                        <option value="PE">PE - Pernambuco </option>
                        <option value="PI">PI - Piauí </option>
                        <option value="RJ">RJ - Rio de Janeiro </option>
                        <option value="RN">RN - Rio Grande do Norte </option>
                        <option value="RS">RS - Rio Grande do Sul </option>
                        <option value="RO">RO - Rondônia </option>
                        <option value="RR">RR - Roraima </option>
                        <option value="SC">SC - Santa Catarina </option>
                        <option value="SP">SP - São Paulo </option>
                        <option value="SE">SE - Sergipe </option>
                        <option value="TO">TO - Tocantins </option>
                    </select>
                </div>
                <div class="bloco">
                    <label>Cidade</label>
                    <input class="short" type="text" name="" id="" placeholder="Cidade">
                </div>
            </div>
            <div class="bloco">
                <label>Email</label>
                <input type="email" name="" id="" placeholder="Exemplo: example@gmail.com">
            </div>
            <div class="bloco">
                <label>Telefone</label>
                <input type="tel" name="" id="" placeholder="Exemplo: (21) 98765-4321">
            </div>
            <div class="bloco">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</form>